# Bankruptcy Dataset- Logistic Regression

In [11]:
import pandas as pd
import numpy as np
import warnings;warnings.simplefilter("ignore")
bank=pd.read_csv("file:///E:/D Drive/R Console_class/Machine Learning/ML_datasets/Cases/Bankruptcy/Bankruptcy.csv")
bank.head()

,NO,D,YR,R1,R2,R3,R4,R5,R6,R7,...,R15,R16,R17,R18,R19,R20,R21,R22,R23,R24
0,1,0,78,0.23,0.08,0.02,0.03,0.46,0.12,0.19,...,0.05,0.57,0.15,0.23,3.56,0.26,1.55,0.43,0.11,0.17
1,2,0,77,0.19,0.07,0.09,0.12,0.02,0.02,0.03,...,0.09,0.12,0.16,0.22,3.78,1.29,1.40,0.06,0.07,0.10
2,3,0,72,0.07,0.02,0.03,0.05,0.06,0.10,0.14,...,-0.03,0.02,0.02,0.04,13.29,1.61,1.43,0.03,0.05,0.07
3,4,0,80,0.07,0.03,0.04,0.04,0.04,0.06,0.06,...,-0.02,0.01,0.02,0.02,5.36,1.30,1.12,-0.06,-0.08,-0.09
4,5,0,81,0.09,0.02,0.03,0.04,0.06,0.08,0.11,...,0.02,0.07,0.10,0.14,7.74,1.48,1.41,0.03,0.04,0.06

# # K-folds

In [12]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

X = bank.iloc[:,3:]
y = bank.iloc[:,1]

#kfold = KFold(n_splits=5, random_state=42)
from sklearn.model_selection import StratifiedKFold
kfold = StratifiedKFold(n_splits=5, random_state=22)
logreg = LogisticRegression()
#checking with accuracy
results = cross_val_score(logreg, X, y, cv=kfold, scoring='accuracy')
print(results)
print("Accuracy: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

[0.85714286 0.92307692 0.80769231 0.76923077 0.80769231]
Accuracy: 83.30% (5.30%)

In [13]:

#checking with ROC 
results = cross_val_score(logreg, X, y, cv=kfold, scoring='roc_auc')
print(results)
print("ROC AUC: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

[0.8877551  0.95266272 0.85207101 0.85207101 0.86390533]
ROC AUC: 88.17% (3.78%)

# L1

# #Accuracy Optimization for C

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

logreg = LogisticRegression()

X = bank.iloc[:,3:]
y = bank.iloc[:,1]

c_space = np.array([0.01,0.1,0.25,0.3,0.5,0.6,0.7,0.9,1,1.1,1.2,1.5])
param_grid = {'C': c_space}

logreg = LogisticRegression(penalty='l1')
logreg_cv = GridSearchCV(logreg, param_grid, cv=5,scoring="accuracy")
logreg_cv.fit(X,y)
#print(logreg_cv.cv_results_ )
print("The Best Accuracy",logreg_cv.best_score_)
print(logreg_cv.best_params_)

The Best Accuracy 0.8409090909090909
{'C': 0.9}