# Bike Sharing Support Vector Machine Tunning

In [27]:
# import pandas as pd
import numpy as np
bk=pd.read_csv("file:///E:/D Drive/R Console_class/Bike sharing data project/train.csv",parse_dates=['datetime'])
bk['year']=bk['datetime'].dt.year
bk['month']=bk['datetime'].dt.month
bk['day']=bk['datetime'].dt.day
bk['hour'] = bk['datetime'].dt.hour
bk['weekday']=bk['datetime'].dt.weekday
bk.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,weekday
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,5

###converting 'season'column and 'weather' as a category as it may get treated as numbers

In [5]:
bk['season'] = bk['season'].astype('category')
bk['weather'] = bk['weather'].astype('category')
bk.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,weekday
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,5

### dropping datetime column as we have already extracted the data

In [6]:
bk.drop(columns=['datetime','casual', 'registered'],inplace=True)
bk.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,year,month,day,hour,weekday
0,1,0,0,1,9.84,14.395,81,0.0,16,2011,1,1,0,5
1,1,0,0,1,9.02,13.635,80,0.0,40,2011,1,1,1,5
2,1,0,0,1,9.02,13.635,80,0.0,32,2011,1,1,2,5
3,1,0,0,1,9.84,14.395,75,0.0,13,2011,1,1,3,5
4,1,0,0,1,9.84,14.395,75,0.0,1,2011,1,1,4,5

In [9]:
dum_bk = pd.get_dummies(bk, drop_first=True)
dum_bk.head()

,holiday,workingday,temp,atemp,humidity,windspeed,count,year,month,day,hour,weekday,season_2,season_3,season_4,weather_2,weather_3,weather_4
0,0,0,9.84,14.395,81,0.0,16,2011,1,1,0,5,0,0,0,0,0,0
1,0,0,9.02,13.635,80,0.0,40,2011,1,1,1,5,0,0,0,0,0,0
2,0,0,9.02,13.635,80,0.0,32,2011,1,1,2,5,0,0,0,0,0,0
3,0,0,9.84,14.395,75,0.0,13,2011,1,1,3,5,0,0,0,0,0,0
4,0,0,9.84,14.395,75,0.0,1,2011,1,1,4,5,0,0,0,0,0,0

In [10]:
X = dum_bk.drop('count',axis=1)
y = dum_bk['count']

# ### Model SVR with default parameters
### linear SVR

In [15]:
from sklearn.model_selection import train_test_split 
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_log_error
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.3, 
                                                    random_state=42)
                                       

svr = SVR(kernel='linear')
fitSVR = svr.fit(X_train, y_train)
y_pred = fitSVR.predict(X_test)
y_pred[y_pred<0] = 0
print("Root Mean Squared Log Error  = %6.4f" % np.sqrt(mean_squared_log_error(y_test, y_pred)))

Root Mean Squared Log Error  = 1.2342

### Radial SVR

In [16]:
import warnings;warnings.simplefilter("ignore")
svr = SVR(kernel='rbf')
fitSVR = svr.fit(X_train, y_train)
y_pred = fitSVR.predict(X_test)
y_pred[y_pred<0] = 0
print("Root Mean Squared Log Error  = %6.4f" % np.sqrt(mean_squared_log_error(y_test, y_pred)))

Root Mean Squared Log Error  = 1.4479

### Sigmoid SVR

In [17]:
svr = SVR(kernel='sigmoid')
fitSVR = svr.fit(X_train, y_train)
y_pred = fitSVR.predict(X_test)
y_pred[y_pred<0] = 0
print("Root Mean Squared Log Error  = %6.4f" % np.sqrt(mean_squared_log_error(y_test, y_pred)))

Root Mean Squared Log Error  = 1.4587

### Model SVR with Tunning  parameters GridsearchCV

### linear SVR

In [18]:
from sklearn.model_selection import GridSearchCV


C_range = np.array([0.01,0.05,0.1,1,1.5,1.7,2,4])
gammas = [0.001,0.01,0.1,1]

param_grid = {'C':C_range,'gamma':gammas}
svmGrid = GridSearchCV(SVR(kernel='linear'), 
                       param_grid=param_grid, cv=5)
svmGrid.fit(X, y)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='linear', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'C': array([0.01, 0.05, 0.1 , 1.  , 1.5 , 1.7 , 2.  , 4.  ]), 'gamma': [0.001, 0.01, 0.1, 1]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

### Best parameters

In [22]:
print(svmGrid.best_params_)

{'C': 1.0, 'gamma': 0.001}

In [23]:
print(svmGrid.best_score_)

0.18598111220764948

### Sigmoid SVR

In [24]:
svmGrid = GridSearchCV(SVR(kernel='sigmoid'), 
                       param_grid=param_grid, cv=5)
svmGrid.fit(X, y)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='sigmoid', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'C': array([0.01, 0.05, 0.1 , 1.  , 1.5 , 1.7 , 2.  , 4.  ]), 'gamma': [0.001, 0.01, 0.1, 1]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [25]:
print(svmGrid.best_params_)

{'C': 0.01, 'gamma': 0.001}

In [26]:
print(svmGrid.best_score_)

-0.29037133669281073